In [1]:
import pandas as pd
from sqlalchemy import create_engine
user = 'versus'
password = 'versus'
host = 'localhost' 
port = 3306
database = 'Versus'
engine = create_engine(f"mariadb+mariadbconnector://{user}:{password}@{host}:{port}/{database}")

In [2]:
query = "SELECT count(*) FROM productos" 
df = pd.read_sql(query, engine)
df

   count(*)
0      1194

In [3]:
#TODO Sin correr el Cronjob, ajustar manualmente los subgrupos de la BD así hago el dump (codigo .sql) que voy a usar luego el Sts de MariaDB

In [4]:
from IPython.display import display
import pandas as pd

contador = 0
query = "SELECT DISTINCT id_grupo FROM productos" 
ids_grupo = pd.read_sql(query, engine)['id_grupo'].tolist()

# Configuración de visualización para pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_colwidth', None)

print("═"*80)  # Línea decorativa más ancha

for id_grupo in ids_grupo:
    # Consulta para subgrupos
    query = f"""
    SELECT DISTINCT id_subgrupo 
    FROM productos 
    WHERE id_grupo = {id_grupo} AND id_subgrupo IS NOT NULL
    """
    ids_subgrupo = pd.read_sql(query, engine)['id_subgrupo'].tolist()
    
    for id_subgrupo in ids_subgrupo:
        # Consulta para productos
        query = f"""
        SELECT categoria, nombre, id_grupo, id_subgrupo, id_supermercado 
        FROM productos 
        WHERE id_grupo = {id_grupo} AND id_subgrupo = {id_subgrupo}
        ORDER BY id_grupo, id_subgrupo
        """
        productos = pd.read_sql(query, engine)
    
        
        # Mostrar el DataFrame con mejor formato
        display(productos.style
               .set_properties(**{'text-align': 'left'})
       )
        
        contador += len(productos)
        print("═"*80)

# Resumen final
print(f"\n{' RESUMEN FINAL ':=^80}")
print(f"📊 Total de productos procesados: {contador}")
print("="*80)

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

================================ RESUMEN FINAL =================================
📊 Total de productos procesados: 1194
================================================================================

In [5]:
contador = 0
query = "SELECT DISTINCT id_grupo FROM productos" 
ids_grupo = pd.read_sql(query, engine)['id_grupo'].tolist() 
for id_grupo in ids_grupo:
    query = "SELECT DISTINCT id_subgrupo FROM productos where id_grupo = {} AND id_subgrupo IS NOT NULL".format(id_grupo) 
    ids_subgrupo = pd.read_sql(query, engine)['id_subgrupo'].tolist() 
    for id_subgrupo in ids_subgrupo:
        query = "SELECT categoria, nombre, id_grupo, id_subgrupo, id_supermercado FROM productos where id_grupo = {} and id_subgrupo = {}".format(id_grupo, id_subgrupo)
        productos = pd.read_sql(query, engine)
        print("-----------"*10)
        contador = contador + len(productos)
        print(productos)
print("-----------"*10)
print("Total: ", contador)

--------------------------------------------------------------------------------------------------------------
  categoria                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE KERATINA 400  2562640991           1                1
--------------------------------------------------------------------------------------------------------------
  categoria             nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE DETOX 400  2562640991           0                1
--------------------------------------------------------------------------------------------------------------
  categoria                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE COLAGENO 400  2562640991           2                1
1  Shampoos  PANTENE COLAGENO 400  2562640991           2                3
--------------------------------------------------------------------------------------------------------------
  categoria                     nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos        PANTENE VOLUMEN 400  2562640991           3                1
1  Shampoos  PANTENE PRO-V VOLUMEN 400  2562640991           3                3
--------------------------------------------------------------------------------------------------------------
  categoria                  nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE EQUILIBRIO 400  2562640991           4                1
1  Shampoos   PANTENE EQUIL RYP 400  2562640991           4                3
--------------------------------------------------------------------------------------------------------------
  categoria                        nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE RESTAURACIONAURA 400  2562640991           5                1
--------------------------------------------------------------------------------------------------------------
  categoria                   nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE HIDRATACION 400  2562640991           6                2
--------------------------------------------------------------------------------------------------------------
  categoria                    nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE RESTAURACION 400  2562640991           7                2
1  Shampoos  PANTENE RESTAURACION 400  2562640991           7                3
--------------------------------------------------------------------------------------------------------------
  categoria                      nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE REVITALIZACION 400  2562640991           8                2
1  Shampoos  PANTENE REVITALIZACION 400  2562640991           8                3
--------------------------------------------------------------------------------------------------------------
  categoria                           nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE HIDRATACION EXTREMA 400  2562640991           9                2
--------------------------------------------------------------------------------------------------------------
  categoria                     nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE LISO INFINITO 400  2562640991          10                2
--------------------------------------------------------------------------------------------------------------
  categoria                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE H Y FORT 400  2562640991          11                3
--------------------------------------------------------------------------------------------------------------
  categoria                       nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE CUIDADO CLASICO 400  2562640991          12                3
--------------------------------------------------------------------------------------------------------------
  categoria                               nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE FUERZA Y RECONSTRUCCION 400  2562640991          13                3
--------------------------------------------------------------------------------------------------------------
  categoria                   nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos        PANTENE DETOX 200  1573508703           2                1
1  Shampoos  PANTENE PRO-V DETOX 200  1573508703           2                3
--------------------------------------------------------------------------------------------------------------
  categoria                      nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE REVITALIZACION 200  1573508703           6                1
1  Shampoos  PANTENE REVITALIZACION 200  1573508703           6                3
--------------------------------------------------------------------------------------------------------------
  categoria                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE COLAGENO 200  1573508703           7                1
1  Shampoos  PANTENE COLAGENO 200  1573508703           7                3
--------------------------------------------------------------------------------------------------------------
  categoria                    nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE RESTAURACION 200  1573508703           8                3
--------------------------------------------------------------------------------------------------------------
  categoria                     nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE LISO INFINITO 200  1573508703           0                1
--------------------------------------------------------------------------------------------------------------
  categoria                           nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE HIDRATA Y FORTALECE 200  1573508703           1                1
1  Shampoos  PANTENE HIDRATA Y FORTALECE 200  1573508703           1                3
--------------------------------------------------------------------------------------------------------------
  categoria                           nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE HIDRATACION EXTREMA 200  1573508703           3                3
--------------------------------------------------------------------------------------------------------------
  categoria                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE EQ R & P 200  1573508703           4                3
--------------------------------------------------------------------------------------------------------------
  categoria                       nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE CUIDADO CLASICO 200  1573508703           5                3
--------------------------------------------------------------------------------------------------------------
  categoria          nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  317 BRILLO 390  2744995278           0                1
--------------------------------------------------------------------------------------------------------------
  categoria          nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  317 DIARIO 390  2744995278           1                1
--------------------------------------------------------------------------------------------------------------
  categoria                             nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos             DOVE REGEN.EXTREMA 400  2458433039           4                1
1  Shampoos  DOVE REGENERACION EXTREMA SUP 400  2458433039           4                2
2  Shampoos      DOVE REGENERACION EXTREMA 400  2458433039           4                4
--------------------------------------------------------------------------------------------------------------
  categoria                            nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE RECONSTRUCCION COMPLETA 400  2458433039           5                1
1  Shampoos               DOVE RECON COMP 400  2458433039           5                3
2  Shampoos  DOVE RECONSTRUCCION COMPLETA 400  2458433039           5                4
--------------------------------------------------------------------------------------------------------------
  categoria                   nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE OLEO NUTRICION 400  2458433039           6                1
1  Shampoos  DOVE OLEO NUTRICION 400  2458433039           6                2
2  Shampoos  DOVE OLEO NUTRICION 400  2458433039           6                4
--------------------------------------------------------------------------------------------------------------
  categoria                          nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos    DOVE MEN 2EN1 FZA EXTREM 400  2458433039           7                1
1  Shampoos  DOVE 2 EN 1 FUERZA EXTREMA 400  2458433039           7                3
--------------------------------------------------------------------------------------------------------------
  categoria                              nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE RITUAL DE REPARACION COCO 400  2458433039           8                2
--------------------------------------------------------------------------------------------------------------
  categoria                         nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE RITUAL DE REPARACION 400  2458433039           9                3
1  Shampoos     DOVE RITUAL REPARACION 400  2458433039           9                4
--------------------------------------------------------------------------------------------------------------
  categoria                                  nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE LARGOS FORTALECIDOS + BIOTINA 400  2458433039           0                3
1  Shampoos                DOVE LARGOS Y FUERTE 400  2458433039           0                1
--------------------------------------------------------------------------------------------------------------
  categoria                          nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE +ACOND. CASPA CONTROL 400  2458433039          10                3
--------------------------------------------------------------------------------------------------------------
  categoria                        nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE SPORTS ACTIVE FRESH 400  2458433039          11                3
--------------------------------------------------------------------------------------------------------------
  categoria                          nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE RITUAL DE CRECIMIENTO 400  2458433039          12                3
1  Shampoos     DOVE RITUAL CRECIMIENTO 400  2458433039          12                4
--------------------------------------------------------------------------------------------------------------
  categoria                    nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE CUIDA Y PROTEGE 400  2458433039          13                4
--------------------------------------------------------------------------------------------------------------
  categoria                        nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE HIDRATACION INTENSA 400  2458433039           1                4
1  Shampoos      DOVE HIDRATACION INT 400  2458433039           1                1
--------------------------------------------------------------------------------------------------------------
  categoria                 nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE OLEO MICELAR 400  2458433039           3                4
1  Shampoos  DOVE OLEO MICELAR 400  2458433039           3                1
--------------------------------------------------------------------------------------------------------------
  categoria                 nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE RITUAL DETOX 400  2458433039          14                4
--------------------------------------------------------------------------------------------------------------
  categoria                           nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE RITUAL FORTALECIMIENTO 400  2458433039          15                4
--------------------------------------------------------------------------------------------------------------
  categoria                  nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE CREC EQUINECA 400  2458433039           2                1
--------------------------------------------------------------------------------------------------------------
  categoria                         nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos         DOVE REGEN.EXTREMA 200  1554278952           4                1
1  Shampoos  DOVE REGENERACION EXTREMA 200  1554278952           4                3
2  Shampoos  DOVE REGENERACION EXTREMA 200  1554278952           4                4
--------------------------------------------------------------------------------------------------------------
  categoria                    nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE REPARACION COCO 200  1554278952           0                1
--------------------------------------------------------------------------------------------------------------
  categoria                            nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE RECONSTRUCCION COMPLETA 200  1554278952           1                1
1  Shampoos  DOVE RECONSTRUCCION COMPLETA 200  1554278952           1                4
--------------------------------------------------------------------------------------------------------------
  categoria                   nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE OLEO NUTRICION 200  1554278952           2                1
1  Shampoos  DOVE OLEO NUTRICION 200  1554278952           2                3
2  Shampoos  DOVE OLEO NUTRICION 200  1554278952           2                4
--------------------------------------------------------------------------------------------------------------
  categoria                        nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE BOND INTENSE REPAIR 200  1554278952           3                3
--------------------------------------------------------------------------------------------------------------
  categoria                      nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos         DOVE RIT DE REP 200  1554278952           5                3
1  Shampoos  DOVE RITUAL REPARACION 200  1554278952           5                4
--------------------------------------------------------------------------------------------------------------
  categoria                        nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE HIDRATACION INTENSA 200  1554278952           6                4
--------------------------------------------------------------------------------------------------------------
  categoria                 nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE OLEO MICELAR 200  1554278952           7                4
--------------------------------------------------------------------------------------------------------------
  categoria                   nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE PURIF+JENGIBRE 300  1718671838           0                1
--------------------------------------------------------------------------------------------------------------
  categoria                                 nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos             TRESEMME CAUTERIZACION 250  1093283345           5                1
1  Shampoos  TRESEMME CAUTERIZACION REPARADORA 250  1093283345           5                3
--------------------------------------------------------------------------------------------------------------
  categoria                   nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  TRESEMME ONDAS BOHO 250  1093283345           0                1
--------------------------------------------------------------------------------------------------------------
  categoria                          nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos    TRESEMME LISO EFEC BOTOX 250  1093283345           1                1
1  Shampoos  TRESEMME LISO EFECTO BOTOX 250  1093283345           1                3
--------------------------------------------------------------------------------------------------------------
  categoria                       nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  TRESEMME KERA ANTIFRIZZ 250  1093283345           2                1
--------------------------------------------------------------------------------------------------------------
  categoria                        nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  TRESEMME BRILLO LAMERLAR 250  1093283345           3                1
--------------------------------------------------------------------------------------------------------------
  categoria                            nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  TRESEMME KERATINA ANTI FRIZZ 250  1093283345           4                2
1  Shampoos  TRESEMME KERATINA ANTI FRIZZ 250  1093283345           4                3
--------------------------------------------------------------------------------------------------------------
  categoria            nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  INECTO SHOCK 400  2181354635           4                1
--------------------------------------------------------------------------------------------------------------
  categoria               nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  INECTO BLINDAJE 400  2181354635           5                1
--------------------------------------------------------------------------------------------------------------
  categoria             nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  INECTO ELIXIR 400  2181354635           6                1
--------------------------------------------------------------------------------------------------------------
  categoria                     nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  INECTO FUERZA EXTREMA 400  2181354635           0                1
--------------------------------------------------------------------------------------------------------------
  categoria                                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  INECTO PARA PIOJO LIMP Y CUIDADO 400  2181354635           1                1
--------------------------------------------------------------------------------------------------------------
  categoria                           nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  INECTO INFANT. MIEL NATURAL 400  2181354635           2                1
--------------------------------------------------------------------------------------------------------------
  categoria                   nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  INECTO BOMBA CARBON 400  2181354635           3                1
--------------------------------------------------------------------------------------------------------------
  categoria               nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  SEDAL CERAMIDAS 190  3401037130          11                1
1  Shampoos  SEDAL CERAMIDAS 190  3401037130          11                3