In [14]:
#TODO Esto solamente se hace 1 vez
#TODO Que gemini clasique todos los productos y lo guarde en un txt. Luego yo a mano cargo le cargo el id_subgrupo
#TODO Para esto debo hacer el truncate de productos, poner el asyncio en el MarketScraper, una vaez que los productos del dia esten cargados
# TODO correr un codigo como el de Borraodr/gemini que traiga todos los productos de la BD y los clasifique en un .txt , luego yo a mano desde el 
# TODO DBEABER voy cargando los id_subgrupo

In [15]:
import pandas as pd
from sqlalchemy import create_engine
user = 'versus'
password = 'versus'
host = 'localhost' 
port = 3306
database = 'Versus'
engine = create_engine(f"mariadb+mariadbconnector://{user}:{password}@{host}:{port}/{database}")

In [16]:
query = "SELECT count(*) FROM productos" 
df = pd.read_sql(query, engine)
df

   count(*)
0      1205

In [6]:
from IPython.display import display
import pandas as pd

contador = 0
query = "SELECT DISTINCT id_grupo FROM productos" 
ids_grupo = pd.read_sql(query, engine)['id_grupo'].tolist()

# Configuración de visualización para pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_colwidth', None)

print("═"*80)  # Línea decorativa más ancha

for id_grupo in ids_grupo:
    # Consulta para subgrupos
    query = f"""
    SELECT DISTINCT id_subgrupo 
    FROM productos 
    WHERE id_grupo = {id_grupo} AND id_subgrupo IS NOT NULL
    """
    ids_subgrupo = pd.read_sql(query, engine)['id_subgrupo'].tolist()
    
    for id_subgrupo in ids_subgrupo:
        # Consulta para productos
        query = f"""
        SELECT categoria, nombre, id_grupo, id_subgrupo, id_supermercado 
        FROM productos 
        WHERE id_grupo = {id_grupo} AND id_subgrupo = {id_subgrupo}
        ORDER BY id_grupo, id_subgrupo
        """
        productos = pd.read_sql(query, engine)
    
        
        # Mostrar el DataFrame con mejor formato
        display(productos.style
               .set_properties(**{'text-align': 'left'})
       )
        
        contador += len(productos)
        print("═"*80)

# Resumen final
print(f"\n{' RESUMEN FINAL ':=^80}")
print(f"📊 Total de productos procesados: {contador}")
print("="*80)

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

================================ RESUMEN FINAL =================================
📊 Total de productos procesados: 1205
================================================================================

In [7]:
contador = 0
query = "SELECT DISTINCT id_grupo FROM productos" 
ids_grupo = pd.read_sql(query, engine)['id_grupo'].tolist() 
for id_grupo in ids_grupo:
    query = "SELECT DISTINCT id_subgrupo FROM productos where id_grupo = {} AND id_subgrupo IS NOT NULL".format(id_grupo) 
    ids_subgrupo = pd.read_sql(query, engine)['id_subgrupo'].tolist() 
    for id_subgrupo in ids_subgrupo:
        query = "SELECT categoria, nombre, id_grupo, id_subgrupo, id_supermercado FROM productos where id_grupo = {} and id_subgrupo = {}".format(id_grupo, id_subgrupo)
        productos = pd.read_sql(query, engine)
        print("-----------"*10)
        contador = contador + len(productos)
        print(productos)
print("-----------"*10)
print("Total: ", contador)

--------------------------------------------------------------------------------------------------------------
  categoria                             nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS ANTI COMEZON 375  1714631061           0                1
1  Shampoos  HEAD & SHOULDERS ANTI COMEZON 375  1714631061           0                3
--------------------------------------------------------------------------------------------------------------
  categoria                            nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS NUTRI HONEY 375  1714631061           1                1
--------------------------------------------------------------------------------------------------------------
  categoria                               nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS FUERZA DE RAIZ 375  1714631061           2                1
--------------------------------------------------------------------------------------------------------------
  categoria                                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS COCO COMP SCALP 375  1714631061           3                1
--------------------------------------------------------------------------------------------------------------
  categoria                                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS APPLE COMP SCAL 375  1714631061           4                1
--------------------------------------------------------------------------------------------------------------
  categoria                               nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS LIMP Y REVITAL 375  1714631061           5                1
--------------------------------------------------------------------------------------------------------------
  categoria                        nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS MANZ FR 375  1714631061           6                3
--------------------------------------------------------------------------------------------------------------
  categoria                       nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS 3 EN 1 375  1714631061           7                3
--------------------------------------------------------------------------------------------------------------
  categoria                              nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS MEN OLD SPICE 375  1714631061           8                3
--------------------------------------------------------------------------------------------------------------
  categoria                                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS CARBON ACTIVADO 375  1714631061           9                3
--------------------------------------------------------------------------------------------------------------
  categoria                             nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS CRECE FUERTE 375  1714631061          10                3
--------------------------------------------------------------------------------------------------------------
  categoria                                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS ACEITE DE ARGAN 375  1714631061          11                3
--------------------------------------------------------------------------------------------------------------
  categoria                           nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS NUT DIARIA 375  1714631061          12                3
--------------------------------------------------------------------------------------------------------------
  categoria                                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS DERMO SENSITIVE 375  1714631061          13                3
--------------------------------------------------------------------------------------------------------------
  categoria                                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS SUAVE/MANEJABLE 375  1714631061          14                3
--------------------------------------------------------------------------------------------------------------
  categoria                      nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS PURIF 375  1714631061          15                3
--------------------------------------------------------------------------------------------------------------
  categoria                     nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  SUAVE BOMBA DELICIOSA 930  1608173070           0                1
--------------------------------------------------------------------------------------------------------------
  categoria                  nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  SUAVE BOMBA FRUTAL 930  1608173070           1                1
--------------------------------------------------------------------------------------------------------------
  categoria                     nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  SUAVE BOMBA CERAMIDAS 930  1608173070           2                1
--------------------------------------------------------------------------------------------------------------
  categoria                             nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS ANTI COMEZON 180  4001080107           0                1
1  Shampoos  HEAD & SHOULDERS ANTI COMEZON 180  4001080107           0                3
--------------------------------------------------------------------------------------------------------------
  categoria                            nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS NUTRI HONEY 180  4001080107           1                1
--------------------------------------------------------------------------------------------------------------
  categoria                                   nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos      HEAD & SHOULDERS LIMP Y REVITAL 180  4001080107           2                1
1  Shampoos  HEAD & SHOULDERS LIMPIEZA Y REVIT.. 180  4001080107           2                2
--------------------------------------------------------------------------------------------------------------
  categoria                         nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS CHARCOAL 180  4001080107           3                2
--------------------------------------------------------------------------------------------------------------
  categoria                                 nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS PROTECCION CAIDA 180  4001080107           4                2
--------------------------------------------------------------------------------------------------------------
  categoria                          nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS OLD SPICE 180  4001080107           5                3
--------------------------------------------------------------------------------------------------------------
  categoria                                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS DERMO SENSITIVE 180  4001080107           6                3
--------------------------------------------------------------------------------------------------------------
  categoria                            nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  HEAD & SHOULDERS HIDRATACION 180  4001080107           7                3
--------------------------------------------------------------------------------------------------------------
  categoria                  nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE ANTI CAIDA 510  1065200442           0                1
--------------------------------------------------------------------------------------------------------------
  categoria                  nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE ANTI CAIDA 300  2668965212           0                1
--------------------------------------------------------------------------------------------------------------
  categoria                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE KERATINA 400  2562640991           0                1
--------------------------------------------------------------------------------------------------------------
  categoria             nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE DETOX 400  2562640991           1                1
--------------------------------------------------------------------------------------------------------------
  categoria                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE COLAGENO 400  2562640991           2                1
1  Shampoos  PANTENE COLAGENO 400  2562640991           2                3
--------------------------------------------------------------------------------------------------------------
  categoria                     nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos        PANTENE VOLUMEN 400  2562640991           3                1
1  Shampoos  PANTENE PRO-V VOLUMEN 400  2562640991           3                3
--------------------------------------------------------------------------------------------------------------
  categoria                  nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE EQUILIBRIO 400  2562640991           4                1
1  Shampoos   PANTENE EQUIL RYP 400  2562640991           4                3
--------------------------------------------------------------------------------------------------------------
  categoria                        nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE RESTAURACIONAURA 400  2562640991           5                1
--------------------------------------------------------------------------------------------------------------
  categoria                           nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos          PANTENE HIDRATACION 400  2562640991           6                2
1  Shampoos  PANTENE HIDRATACION EXTREMA 400  2562640991           6                2
--------------------------------------------------------------------------------------------------------------
  categoria                     nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE LISO INFINITO 400  2562640991           7                2
--------------------------------------------------------------------------------------------------------------
  categoria                    nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE RESTAURACION 400  2562640991           8                2
1  Shampoos  PANTENE RESTAURACION 400  2562640991           8                3
--------------------------------------------------------------------------------------------------------------
  categoria                      nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE REVITALIZACION 400  2562640991           9                2
1  Shampoos  PANTENE REVITALIZACION 400  2562640991           9                3
--------------------------------------------------------------------------------------------------------------
  categoria                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE H Y FORT 400  2562640991          10                3
--------------------------------------------------------------------------------------------------------------
  categoria                       nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE CUIDADO CLASICO 400  2562640991          11                3
--------------------------------------------------------------------------------------------------------------
  categoria                               nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE FUERZA Y RECONSTRUCCION 400  2562640991          12                3
--------------------------------------------------------------------------------------------------------------
  categoria                   nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos        PANTENE DETOX 200  1573508703           0                1
1  Shampoos  PANTENE PRO-V DETOX 200  1573508703           0                3
--------------------------------------------------------------------------------------------------------------
  categoria                      nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE REVITALIZACION 200  1573508703           1                1
1  Shampoos  PANTENE REVITALIZACION 200  1573508703           1                3
--------------------------------------------------------------------------------------------------------------
  categoria                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE COLAGENO 200  1573508703           2                1
1  Shampoos  PANTENE COLAGENO 200  1573508703           2                3
--------------------------------------------------------------------------------------------------------------
  categoria                     nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE LISO INFINITO 200  1573508703           3                1
--------------------------------------------------------------------------------------------------------------
  categoria                           nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE HIDRATA Y FORTALECE 200  1573508703           4                1
1  Shampoos  PANTENE HIDRATA Y FORTALECE 200  1573508703           4                3
--------------------------------------------------------------------------------------------------------------
  categoria                    nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE RESTAURACION 200  1573508703           5                3
--------------------------------------------------------------------------------------------------------------
  categoria                           nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE HIDRATACION EXTREMA 200  1573508703           6                3
--------------------------------------------------------------------------------------------------------------
  categoria                nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE EQ R & P 200  1573508703           7                3
--------------------------------------------------------------------------------------------------------------
  categoria                       nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  PANTENE CUIDADO CLASICO 200  1573508703           8                3
--------------------------------------------------------------------------------------------------------------
  categoria                  nombre   id_grupo id_subgrupo  id_supermercado
0  Shampoos  FRUCTIS ALOE WATER 350  695371301           0                1
--------------------------------------------------------------------------------------------------------------
  categoria          nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  317 BRILLO 390  2744995278           0                1
--------------------------------------------------------------------------------------------------------------
  categoria          nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  317 DIARIO 390  2744995278           1                1
--------------------------------------------------------------------------------------------------------------
  categoria                   nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  TRESEMME ONDAS BOHO 250  1093283345           0                1
--------------------------------------------------------------------------------------------------------------
  categoria                          nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos    TRESEMME LISO EFEC BOTOX 250  1093283345           1                1
1  Shampoos  TRESEMME LISO EFECTO BOTOX 250  1093283345           1                3
--------------------------------------------------------------------------------------------------------------
  categoria                       nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  TRESEMME KERA ANTIFRIZZ 250  1093283345           2                1
--------------------------------------------------------------------------------------------------------------
  categoria                                 nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos             TRESEMME CAUTERIZACION 250  1093283345           3                1
1  Shampoos  TRESEMME CAUTERIZACION REPARADORA 250  1093283345           3                3
--------------------------------------------------------------------------------------------------------------
  categoria                        nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  TRESEMME BRILLO LAMERLAR 250  1093283345           4                1
--------------------------------------------------------------------------------------------------------------
  categoria                            nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  TRESEMME KERATINA ANTI FRIZZ 250  1093283345           5                2
1  Shampoos  TRESEMME KERATINA ANTI FRIZZ 250  1093283345           5                3
--------------------------------------------------------------------------------------------------------------
  categoria                            nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE RECONSTRUCCION COMPLETA 400  2458433039           0                1
1  Shampoos               DOVE RECON COMP 400  2458433039           0                3
2  Shampoos  DOVE RECONSTRUCCION COMPLETA 400  2458433039           0                4
--------------------------------------------------------------------------------------------------------------
  categoria                             nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos             DOVE REGEN.EXTREMA 400  2458433039           1                1
1  Shampoos  DOVE REGENERACION EXTREMA SUP 400  2458433039           1                2
2  Shampoos      DOVE REGENERACION EXTREMA 400  2458433039           1                4
--------------------------------------------------------------------------------------------------------------
  categoria                   nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE OLEO NUTRICION 400  2458433039           2                1
1  Shampoos  DOVE OLEO NUTRICION 400  2458433039           2                2
2  Shampoos  DOVE OLEO NUTRICION 400  2458433039           2                4
--------------------------------------------------------------------------------------------------------------
  categoria                          nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos    DOVE MEN 2EN1 FZA EXTREM 400  2458433039           3                1
1  Shampoos  DOVE 2 EN 1 FUERZA EXTREMA 400  2458433039           3                3
--------------------------------------------------------------------------------------------------------------
  categoria                              nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  DOVE RITUAL DE REPARACION COCO 400  2458433039           4                2