In [ ]:
#TODO Esto solamente se hace 1 vez
#TODO Que gemini clasique todos los productos y lo guarde en un txt. Luego yo a mano cargo le cargo el id_subgrupo
#TODO Para esto debo hacer el truncate de productos, poner el asyncio en el MarketScraper, una vaez que los productos del dia esten cargados
# TODO correr un codigo como el de Borraodr/gemini que traiga todos los productos de la BD y los clasifique en un .txt , luego yo a mano desde el 
# TODO DBEABER voy cargando los id_subgrupo

In [1]:
import pandas as pd
from sqlalchemy import create_engine
user = 'versus'
password = 'versus'
host = 'localhost' 
port = 3306
database = 'Versus'
engine = create_engine(f"mariadb+mariadbconnector://{user}:{password}@{host}:{port}/{database}")

In [10]:
query = "SELECT DISTINCT id_grupo FROM productos" 
ids_grupo_df = pd.read_sql(query, engine)['id_grupo'].tolist() 
ids_grupo_df[0]

'1931529794'

In [15]:
query = "SELECT DISTINCT id_subgrupo FROM productos where id_grupo = {}".format(1792792882) 
ids_subgrupo = pd.read_sql(query, engine)['id_subgrupo'].tolist() 
ids_subgrupo

['0', '1']

In [17]:
query = "SELECT categoria, nombre, id_grupo, id_subgrupo, id_supermercado FROM productos where id_grupo = 1792792882 and id_subgrupo = 0"
pe = pd.read_sql(query,engine)
print(pe)

  categoria          nombre    id_grupo id_subgrupo  id_supermercado
0  Gaseosas  COCA COLA  354  1792792882           0                2
1  Gaseosas  COCA COLA  354  1792792882           0                3
2  Gaseosas  COCA COLA  354  1792792882           0                1

In [8]:
from IPython.display import display
import pandas as pd

contador = 0
query = "SELECT DISTINCT id_grupo FROM productos" 
ids_grupo = pd.read_sql(query, engine)['id_grupo'].tolist()

# Configuración de visualización para pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_colwidth', None)

print("═"*80)  # Línea decorativa más ancha

for id_grupo in ids_grupo:
    # Consulta para subgrupos
    query = f"""
    SELECT DISTINCT id_subgrupo 
    FROM productos 
    WHERE id_grupo = {id_grupo} AND id_subgrupo IS NOT NULL
    """
    ids_subgrupo = pd.read_sql(query, engine)['id_subgrupo'].tolist()
    
    for id_subgrupo in ids_subgrupo:
        # Consulta para productos
        query = f"""
        SELECT categoria, nombre, id_grupo, id_subgrupo, id_supermercado 
        FROM productos 
        WHERE id_grupo = {id_grupo} AND id_subgrupo = {id_subgrupo}
        ORDER BY id_grupo, id_subgrupo
        """
        productos = pd.read_sql(query, engine)
    
        
        # Mostrar el DataFrame con mejor formato
        display(productos.style
               .set_properties(**{'text-align': 'left'})
       )
        
        contador += len(productos)
        print("═"*80)

# Resumen final
print(f"\n{' RESUMEN FINAL ':=^80}")
print(f"📊 Total de productos procesados: {contador}")
print("="*80)

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

════════════════════════════════════════════════════════════════════════════════

================================ RESUMEN FINAL =================================
📊 Total de productos procesados: 1202
================================================================================

In [4]:
contador = 0
query = "SELECT DISTINCT id_grupo FROM productos" 
ids_grupo = pd.read_sql(query, engine)['id_grupo'].tolist() 
for id_grupo in ids_grupo:
    query = "SELECT DISTINCT id_subgrupo FROM productos where id_grupo = {} AND id_subgrupo IS NOT NULL".format(id_grupo) 
    ids_subgrupo = pd.read_sql(query, engine)['id_subgrupo'].tolist() 
    for id_subgrupo in ids_subgrupo:
        query = "SELECT categoria, nombre, id_grupo, id_subgrupo, id_supermercado FROM productos where id_grupo = {} and id_subgrupo = {}".format(id_grupo, id_subgrupo)
        productos = pd.read_sql(query, engine)
        print("-----------"*10)
        contador = contador + len(productos)
        print(productos)
print("-----------"*10)
print("Total: ", contador)

--------------------------------------------------------------------------------------------------------------
  categoria                                    nombre    id_grupo id_subgrupo  \
0   Arroces  GALLO SABORES DEL MUNDO WOK ORIENTAL 240  1272693712           0

   id_supermercado
0                1
--------------------------------------------------------------------------------------------------------------
  categoria                         nombre    id_grupo id_subgrupo  \
0   Arroces  GALLO RISOTTO PARME.AZAFR 240  1272693712           1

   id_supermercado
0                1
--------------------------------------------------------------------------------------------------------------
  categoria                              nombre    id_grupo id_subgrupo  \
0   Arroces  GALLO RISOTTO TRATTORIA CHAMPI 240  1272693712           2

   id_supermercado
0                1
--------------------------------------------------------------------------------------------------------------
  categoria                                             nombre    id_grupo  \
0   Arroces  GALLO PARA PREPARAR BAJO SODIO MIX DE VEGETALE...  1272693712
1   Arroces           GALLO MIX DE VEGETALES BAJO EN SODIO 240  1272693712

  id_subgrupo  id_supermercado
0           3                1
1           3                3
--------------------------------------------------------------------------------------------------------------
  categoria                                             nombre    id_grupo  \
0   Arroces  GALLO PARA PREPARAR MIX DE SEMILLAS QUINOA Y L...  1272693712

  id_subgrupo  id_supermercado
0           4                1
--------------------------------------------------------------------------------------------------------------
  categoria                     nombre    id_grupo id_subgrupo  \
0   Arroces  GALLO PREPARADO QUESO 240  1272693712           5
1   Arroces  GALLO PREPARADO QUESO 240  1272693712           5

   id_supermercado
0                2
1                3
--------------------------------------------------------------------------------------------------------------
  categoria                      nombre    id_grupo id_subgrupo  \
0   Arroces  GALLO RISOTTO ESPANOLA 240  1272693712           6
1   Arroces  GALLO RISOTTO ESPANOLA 240  1272693712           6

   id_supermercado
0                2
1                3
--------------------------------------------------------------------------------------------------------------
  categoria                       nombre    id_grupo id_subgrupo  \
0   Arroces  GALLO RISOTTO PRIMAVERA 240  1272693712           7

   id_supermercado
0                2
--------------------------------------------------------------------------------------------------------------
  categoria                      nombre    id_grupo id_subgrupo  \
0   Arroces  GALLO RISOTTO 4 QUESOS 240  1272693712           8

   id_supermercado
0                3
--------------------------------------------------------------------------------------------------------------
  categoria                         nombre    id_grupo id_subgrupo  \
0   Arroces  GALLO RISOTTO CHAMPINONES 240  1272693712           9

   id_supermercado
0                3
--------------------------------------------------------------------------------------------------------------
  categoria                            nombre    id_grupo id_subgrupo  \
0   Arroces  GALLO PREPARADO SABOR VERDEO 240  1272693712          10

   id_supermercado
0                3
--------------------------------------------------------------------------------------------------------------
  categoria                                nombre    id_grupo id_subgrupo  \
0   Arroces  GALLO PREPARADO MIX DE VEGETALES 240  1272693712          11

   id_supermercado
0                3
--------------------------------------------------------------------------------------------------------------
  categoria                      nombre    id_grupo id_subgrupo  \
0    Leches  LA SERENISIMA .HIERRO 1000  3053692477           0

   id_supermercado
0                1
--------------------------------------------------------------------------------------------------------------
  categoria                                            nombre    id_grupo  \
0    Leches                        LA SERENISIMA BARISTA 1000  3053692477
1    Leches  LA SERENISIMA UAT P.DESCREMADA FORT BARISTA 1000  3053692477

  id_subgrupo  id_supermercado
0           1                1
1           1                2
--------------------------------------------------------------------------------------------------------------
  categoria                         nombre    id_grupo id_subgrupo  \
0    Leches  LA SERENISIMA PROTEIN 0% 1000  3053692477           2

   id_supermercado
0                1
--------------------------------------------------------------------------------------------------------------
  categoria                                nombre    id_grupo id_subgrupo  \
0    Leches         LA SERENISIMA CLASICA 3% 1000  3053692477           3
1    Leches  LA SERENISIMA ENTERA CLASICA 3% 1000  3053692477           3
2    Leches         LA SERENISIMA 3% CLASICA 1000  3053692477           3

   id_supermercado
0                1
1                2
2                4
--------------------------------------------------------------------------------------------------------------
  categoria                         nombre    id_grupo id_subgrupo  \
0    Leches  LA SERENISIMA 0% LACTOSA 1000  3053692477           4
1    Leches  LA SERENISIMA 0% LACTOSA 1000  3053692477           4

   id_supermercado
0                1
1                4
--------------------------------------------------------------------------------------------------------------
  categoria                         nombre    id_grupo id_subgrupo  \
0    Leches  LA SERENISIMA LIVIANA 1% 1000  3053692477           5
1    Leches  LA SERENISIMA LIVIANA 1% 1000  3053692477           5

   id_supermercado
0                1
1                3
--------------------------------------------------------------------------------------------------------------
  categoria                                             nombre    id_grupo  \
0    Leches  LA SERENISIMA PARCIALMENTE DESCREMADA ZERO LAC...  3053692477

  id_subgrupo  id_supermercado
0           6                2
--------------------------------------------------------------------------------------------------------------
  categoria                                     nombre    id_grupo  \
0    Leches  LA SERENISIMA REDUCIDA LACTOSA F/VIT 1000  3053692477

  id_subgrupo  id_supermercado
0           7                2
--------------------------------------------------------------------------------------------------------------
  categoria                                         nombre    id_grupo  \
0    Leches  LA SERENISIMA PARCIALMENTE DESCREMADA 1% 1000  3053692477

  id_subgrupo  id_supermercado
0           8                2
--------------------------------------------------------------------------------------------------------------
  categoria                                        nombre    id_grupo  \
0    Leches  LA SERENISIMA ULTRA PARC DESC MULTIV 1% 1000  3053692477

  id_subgrupo  id_supermercado
0           9                2
--------------------------------------------------------------------------------------------------------------
  categoria                             nombre    id_grupo id_subgrupo  \
0    Leches  LA SERENISIMA DESCREMADA 1 % 1000  3053692477          10
1    Leches   LA SERENISIMA DESCREMADA 1% 1000  3053692477          10
2    Leches   LA SERENISIMA 1% DESCREMADA 1000  3053692477          10

   id_supermercado
0                3
1                3
2                4
--------------------------------------------------------------------------------------------------------------
  categoria                          nombre    id_grupo id_subgrupo  \
0    Leches  LA SERENISIMA PREBIOTICOS 1000  3053692477          11

   id_supermercado
0                3
--------------------------------------------------------------------------------------------------------------
  categoria                        nombre    id_grupo id_subgrupo  \
0    Leches  LA SERENISIMA ENTERA 3% 1000  3053692477          12
1    Leches         LA SERENISIMA 3% 1000  3053692477          12

   id_supermercado
0                3
1                4
--------------------------------------------------------------------------------------------------------------
  categoria                       nombre    id_grupo id_subgrupo  \
0    Leches  LA SERENISIMA TENOR 3% 1000  3053692477          13

   id_supermercado
0                3
--------------------------------------------------------------------------------------------------------------
  categoria                 nombre    id_grupo id_subgrupo  id_supermercado
0    Leches  LA SERENISIMA 1% 1000  3053692477          14                4
--------------------------------------------------------------------------------------------------------------
  categoria              nombre    id_grupo id_subgrupo  id_supermercado
0    Leches  ILOLAY ENTERA 1000  2188740724           0                1
1    Leches  ILOLAY ENTERA 1000  2188740724           0                2
2    Leches  ILOLAY ENTERA 1000  2188740724           0                3
--------------------------------------------------------------------------------------------------------------
  categoria                  nombre    id_grupo id_subgrupo  id_supermercado
0    Leches  ILOLAY 0% LACTOSA 1000  2188740724           1                2
--------------------------------------------------------------------------------------------------------------
  categoria                  nombre    id_grupo id_subgrupo  id_supermercado
0    Leches  ILOLAY DESCREMADA 1000  2188740724           2                2
1    Leches  ILOLAY DESCREMADA 1000  2188740724           2                3
--------------------------------------------------------------------------------------------------------------
  categoria                    nombre    id_grupo id_subgrupo  id_supermercado
0    Leches  ILOLAY DESLACTOSADA 1000  2188740724           3                3
--------------------------------------------------------------------------------------------------------------
  categoria          nombre   id_grupo id_subgrupo  id_supermercado
0     Panes  FARGO MESA 585  567941767           0                1
--------------------------------------------------------------------------------------------------------------
  categoria                     nombre    id_grupo id_subgrupo  \
0     Panes  BIMBO REBANADO BLANCO 400  1444956474           0
1     Panes           BIMBO BLANCO 400  1444956474           0

   id_supermercado
0                1
1                3
--------------------------------------------------------------------------------------------------------------
  categoria                      nombre    id_grupo id_subgrupo  \
0     Panes  LACTAL REBANADO GRANDE 460  3552722262           0

   id_supermercado
0                1
--------------------------------------------------------------------------------------------------------------
  categoria           nombre    id_grupo id_subgrupo  id_supermercado
0     Panes  LACTAL MESA 460  3552722262           1                3
1     Panes  LACTAL MESA 460  3552722262           1                4
--------------------------------------------------------------------------------------------------------------
  categoria                     nombre   id_grupo id_subgrupo  id_supermercado
0     Panes  LACTAL REBANADO CHICO 315  202785799           0                1
--------------------------------------------------------------------------------------------------------------
  categoria           nombre   id_grupo id_subgrupo  id_supermercado
0     Panes  LACTAL MESA 315  202785799           1                2
1     Panes  LACTAL MESA 315  202785799           1                3
2     Panes  LACTAL MESA 315  202785799           1                4
--------------------------------------------------------------------------------------------------------------
  categoria                       nombre    id_grupo id_subgrupo  \
0     Panes  LACTAL DE SALVADO CHICO 330  2049673268           0
1     Panes           LACTAL SALVADO 330  2049673268           0
2     Panes           LACTAL SALVADO 330  2049673268           0

   id_supermercado
0                1
1                2
2                3
--------------------------------------------------------------------------------------------------------------
  categoria                                    nombre    id_grupo id_subgrupo  \
0     Panes  MILLAN REBANADO CON SEMILLA ARTESANO 400  3624457730           0

   id_supermercado
0                1
--------------------------------------------------------------------------------------------------------------
  categoria                      nombre    id_grupo id_subgrupo  \
0     Panes  BELIER REBANADO BLANCO 400  3898848990           0

   id_supermercado
0                1
--------------------------------------------------------------------------------------------------------------
  categoria                  nombre    id_grupo id_subgrupo  id_supermercado
0     Panes  BIMBO INTEGRAL NVO 420  1313050764           0                1
--------------------------------------------------------------------------------------------------------------
  categoria                             nombre    id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS ANTI COMEZON 375  1931529794           0
1  Shampoos  HEAD & SHOULDERS ANTI COMEZON 375  1931529794           0

   id_supermercado
0                1
1                3
--------------------------------------------------------------------------------------------------------------
  categoria                            nombre    id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS NUTRI HONEY 375  1931529794           1

   id_supermercado
0                1
--------------------------------------------------------------------------------------------------------------
  categoria                               nombre    id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS FUERZA DE RAIZ 375  1931529794           2

   id_supermercado
0                1
--------------------------------------------------------------------------------------------------------------
  categoria                                nombre    id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS COCO COMP SCALP 375  1931529794           3

   id_supermercado
0                1
--------------------------------------------------------------------------------------------------------------
  categoria                                nombre    id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS APPLE COMP SCAL 375  1931529794           4

   id_supermercado
0                1
--------------------------------------------------------------------------------------------------------------
  categoria                               nombre    id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS LIMP Y REVITAL 375  1931529794           5

   id_supermercado
0                1
--------------------------------------------------------------------------------------------------------------
  categoria                        nombre    id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS MANZ FR 375  1931529794           6

   id_supermercado
0                3
--------------------------------------------------------------------------------------------------------------
  categoria                       nombre    id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS 3 EN 1 375  1931529794           7

   id_supermercado
0                3
--------------------------------------------------------------------------------------------------------------
  categoria                              nombre    id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS MEN OLD SPICE 375  1931529794           8

   id_supermercado
0                3
--------------------------------------------------------------------------------------------------------------
  categoria                                nombre    id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS CARBON ACTIVADO 375  1931529794           9

   id_supermercado
0                3
--------------------------------------------------------------------------------------------------------------
  categoria                             nombre    id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS CRECE FUERTE 375  1931529794          10

   id_supermercado
0                3
--------------------------------------------------------------------------------------------------------------
  categoria                                nombre    id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS ACEITE DE ARGAN 375  1931529794          11

   id_supermercado
0                3
--------------------------------------------------------------------------------------------------------------
  categoria                           nombre    id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS NUT DIARIA 375  1931529794          12

   id_supermercado
0                3
--------------------------------------------------------------------------------------------------------------
  categoria                                nombre    id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS DERMO SENSITIVE 375  1931529794          13

   id_supermercado
0                3
--------------------------------------------------------------------------------------------------------------
  categoria                                nombre    id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS SUAVE/MANEJABLE 375  1931529794          14

   id_supermercado
0                3
--------------------------------------------------------------------------------------------------------------
  categoria                      nombre    id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS PURIF 375  1931529794          15

   id_supermercado
0                3
--------------------------------------------------------------------------------------------------------------
  categoria                     nombre    id_grupo id_subgrupo  \
0  Shampoos  SUAVE BOMBA DELICIOSA 930  1821578780           0

   id_supermercado
0                1
--------------------------------------------------------------------------------------------------------------
  categoria                  nombre    id_grupo id_subgrupo  id_supermercado
0  Shampoos  SUAVE BOMBA FRUTAL 930  1821578780           1                1
--------------------------------------------------------------------------------------------------------------
  categoria                     nombre    id_grupo id_subgrupo  \
0  Shampoos  SUAVE BOMBA CERAMIDAS 930  1821578780           2

   id_supermercado
0                1
--------------------------------------------------------------------------------------------------------------
  categoria                             nombre   id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS ANTI COMEZON 180  555963584           0
1  Shampoos  HEAD & SHOULDERS ANTI COMEZON 180  555963584           0

   id_supermercado
0                1
1                3
--------------------------------------------------------------------------------------------------------------
  categoria                            nombre   id_grupo id_subgrupo  \
0  Shampoos  HEAD & SHOULDERS NUTRI HONEY 180  555963584           1

   id_supermercado
0                1
--------------------------------------------------------------------------------------------------------------
  categoria                                   nombre   id_grupo id_subgrupo  \