In [1]:
import sys
import os
notebook_dir = os.getcwd()
parent_dir = os.path.abspath(os.path.join(notebook_dir, '..'))
sys.path.append(parent_dir)
from main.MariaDBClient import MariaDBClient
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text
user = 'versus'
password = 'versus'
host = 'localhost' 
port = 3306
database = 'Versus'
engine = create_engine(f"mariadb+mariadbconnector://{user}:{password}@{host}:{port}/{database}")

In [3]:
categoria = 'Shampoos'

In [4]:
query = text("SELECT count(id_producto) FROM productos WHERE categoria = :categoria")
df = pd.read_sql(query, engine, params={"categoria": categoria})
df

   count(id_producto)
0                 282

In [5]:
mariadbclient = MariaDBClient()
productos = mariadbclient.get_products_by_category(categoria)
productos
sum(len(subgrupo) for subgrupo in productos)

282

In [6]:
nombre = 'cocA COlA'

In [7]:
query = text("SELECT count(*) FROM productos WHERE LOWER(nombre) LIKE :nombre")
params = {'nombre': '%{}%'.format(nombre)} 
df = pd.read_sql(query, engine, params=params)
df

   count(*)
0        33

In [8]:
mariadbclient = MariaDBClient()
productos = mariadbclient.get_products_by_description('coCa COla')
productos
sum(len(subgrupo) for subgrupo in productos)

33

In [9]:
query = text("SELECT nombre, url FROM supermercados WHERE is_active is True")
df = pd.read_sql(query, engine, params=params)
df

        nombre                 url
0        Atomo   atomoconviene.com
1      Blowmax      blowmax.com.ar
2  Modo Market  www.modomarket.com
3   Casa Segal  www.casa-segal.com

In [10]:
query = text("SELECT max(__ingestion_timestamp) FROM webscraping_info")
df = pd.read_sql(query, engine, params=params)
df

  max(__ingestion_timestamp)
0        2025-05-03 12:58:31

In [12]:
mariadbclient = MariaDBClient()
info = mariadbclient.get_info()
info

{'supermercados': [{'supermercado': 'Atomo',
   'url': 'https://atomoconviene.com/atomo-ecommerce/'},
  {'supermercado': 'Blowmax', 'url': 'https://blowmax.com.ar'},
  {'supermercado': 'Modo Market', 'url': 'https://www.modomarket.com'},
  {'supermercado': 'Casa Segal', 'url': 'https://www.casa-segal.com'}],
 'lastUpdate': '03/05/2025 12:58 PM'}